[*]
charset = utf-8
max_line_length = 180


[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2


[{*.yaml,*.yml}]
indent_size = 2
ij_yaml_spaces_within_braces = true
ij_yaml_spaces_within_brackets = true
