name: "Build and Deploy Jekyll Site with GitHub Pages"
run-name: "Jekyll Build and Deploy by ${{ github.actor }} with ${{ github.event_name }}"

on:
  push:
    branches: ["main"]
  workflow_dispatch:
  workflow_call:
    inputs:
      restriction:
        required: true
        type: string

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "Pages Group"
  cancel-in-progress: false

jobs:
  build-jekyll-site-from-site:
    timeout-minutes: 7
    runs-on: self-hosted
    name: "Build Jekyll Site from root subproject `site`"

    defaults:
      run:
        shell: zsh -l {0}

    env:
      BUNDLE_PATH: vendor/bundle

    steps:
      - name: "Checkout repository source code"
        uses: actions/checkout@cbb722410c2e876e24abbe8de2cc27693e501dcb
        timeout-minutes: 3

      - name: "Install dependencies"
        timeout-minutes: 5
        run: |
          cd site
          bundle install

      - name: "Build Jekyll site"
        timeout-minutes: 5
        run: |
          cd site
          bundle exec jekyll build -d ../_site

      - name: "Package and Upload Project Site built Artifact"
        uses: actions/upload-pages-artifact@2d163be3ddce01512f3eea7ac5b7023b5d643ce1
        timeout-minutes: 3
        with:
          path: ./_site

  deploy-jekyll-site-to-github-pages:
    if: ${{ github.ref == 'refs/heads/main' }}
    timeout-minutes: 5
    runs-on: self-hosted
    needs: build-jekyll-site-from-site

    defaults:
      run:
        shell: zsh -l {0}

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: "Deploy uploaded Artifact to GitHub Pages"
        id: deployment
        uses: actions/deploy-pages@854d7aa1b99e4509c4d1b53d69b7ba4eaf39215a
