name: "Manage Stale Issues and Pull Requests"
run-name: "Manage Stale Issues and Pull Requests on [${{ github.repository }}] @ ${{ github.ref }} by ${{ github.actor }} with ${{ github.event_name }}"
# https://github.com/actions/stale

on:
  workflow_run:
    workflows: [ Prune Actions by CLI ]
    types:
      - completed
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '20 10 * * 1'
  workflow_dispatch:
  workflow_call:

permissions:
  issues: write
  pull-requests: write
  contents: write

jobs:
  stale-issues-and-pull-requests-check:
    timeout-minutes: 2
    runs-on: self-hosted
    name: "Manage Stale Issues and Pull Requests IAW configured rules"

    defaults:
      run:
        shell: zsh -l {0}
    
    strategy:
      fail-fast: true
      matrix:
        include:
          - REPO: "Gervi-Hera-Vitr/google-ai-labs"
            BRANCH: "main"

    steps:
      - name: "Run Stale Issues and Pull Requests checks in repository [${{ github.repository }}] by ${{ github.actor }}"
        uses: actions/stale@f69122271d990fd11f5594ccff2296f00ff59b49
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 11
          days-before-close: 3

          days-before-issue-stale: 15
          stale-issue-label: issue-has-no-activity
          stale-issue-message: |
            Closing `stale` issue as irrelevant: 
            This issue is dormant for 15 days with no activity. 
            If this issue is still relevant,
            please follow the [contributing guide](https://github.com/Gervi-Hera-Vitr/Gervi-Hera-Vitr/blob/main/CONTRIBUTING.md) to:
            - upgrade and reopen, or
            - open a new issue instead.

          days-before-issue-close: 6
          close-issue-label: 'stale-issue-closed'
          close-issue-message: |
            This issue was closed because it has been _dormant_ 
            for 5 days with no activity.

          days-before-pr-stale: 8
          stale-pr-label: 'PR-has-no-activity'
          stale-pr-message: |
            Stale pull request: Closing abandoned pull request as irrelevant.
            If this pull request is still relevant, please follow the
            [contributing guide](https://github.com/Gervi-Hera-Vitr/Gervi-Hera-Vitr/blob/main/CONTRIBUTING.md)
            to upgrade and reopen.

          days-before-pr-close: 6
          close-pr-label: 'stale-pr-closed'
          close-pr-message: |
            This PR was closed because it has been stalled for 6 days with no activity.
